---
---

.sidebar
  .sidebar-sticky
    .sidebar-about
      h1
        font-size: 2.25rem
      img
        height: 250px
        width: 250px
        @media (max-width: 927px)
          height: 200px
          width: 200px
        @media (max-width: 767px)
          display: inline

    .icon-social
      padding-right: 5px
      &:hover
        text-decoration: none
        color: #ddd

#contact-form
  input, textarea
    padding: 10px 5px
    font-size: 18px
    width: 100%
    margin-bottom: 10px
    resize: none
    border: 1px solid #aaa
  textarea
    height: 200px
  input[type='submit']
    -webkit-appearance: none
    -webkit-border-radius: 0px
    -moz-border-radius: 0px
    border-radius: 0px
    border: 1px solid #aaa
    background: transparent
    &:hover
      background: #202020
      color: white
      cursor: pointer

.post
  p
    img
      width: 100%
  iframe
    max-width: 100%
