.sidebar .sidebar-sticky .sidebar-about h1 {
  font-size: 2.25rem;
}
.sidebar .sidebar-sticky .sidebar-about img {
  height: 250px;
  width: 250px;
}
@media (max-width: 927px) {
  .sidebar .sidebar-sticky .sidebar-about img {
    height: 200px;
    width: 200px;
  }
}
@media (max-width: 767px) {
  .sidebar .sidebar-sticky .sidebar-about img {
    display: inline;
  }
}

.sidebar .sidebar-sticky .sidebar-about .icon-social {
  padding-right: 5px;
}
.sidebar .sidebar-sticky .sidebar-about .icon-social:hover {
  text-decoration: none;
  color: #ddd;
}
